In [1]:
import os
import tweepy as tw
import pandas as pd

In [2]:
#My key
consumer_key= 'pmobXDMHYCDe3ziI7jfrv9MiP'
consumer_secret='4CsLBydXMpjTtI0mdEeEdKG0giGUrPezAu202hdB7hJQ75LODt'
access_token= '1171284483049320448-X681DzubAI8E17GY13xeeNLvPMloJX' 
access_token_secret= 'h97bjtMWF2vRTbYjD7I1zEXWjpgkXMGSctKTACmCzaWQk'

In [3]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [4]:
MQ_tweets = tw.Cursor(api.search,q = "Macquarie University -filter:retweets", lang = "en").items(100)
UNSW_tweets = tw.Cursor(api.search,q = "UNSW -filter:retweets" or "", lang = "en").items(100)
USYD_tweets = tw.Cursor(api.search,q = "The University of Sydney -filter:retweets" or "", lang = "en").items(100)

In [5]:
MQ = [[x.text, x.user.screen_name] for x in MQ_tweets]
MQDF = pd.DataFrame(data=MQ, 
                    columns=["tweet", "username"])

UNSW = [[x.text, x.user.screen_name] for x in UNSW_tweets]
UNSWDF = pd.DataFrame(data=UNSW, 
                    columns=["tweet", "username"])

USYD = [[x.text, x.user.screen_name] for x in USYD_tweets]
USYDDF = pd.DataFrame(data=USYD, 
                    columns=["tweet", "username"])

In [7]:
MQDF.head()

                                               tweet         username
0  Please sign and share this important petition:...        roblespar
1  Very concerning reports about the  removal of ...      copyculture
2  How prepared are paramedics to deal with clima...  RuthTownsendlaw
3  @ChrisJ999 paramedic building, Charles Sturt U...  RuthTownsendlaw
4  Macquarie University announces scholarships wo...    indiaedudiary

In [8]:
MQDF.shape

(100, 2)

In [10]:
UNSWDF.head()

                                               tweet         username
0  “Make friends of all ages. When you have frien...             UNSW
1  “In Australia, 30% of employers admit they’re ...             UNSW
2  "Older is not lesser - the value of a human be...     BetterSydney
3  “Age is a criterion for diversity.”\n\nAshton ...             UNSW
4  @chappell_louise @_annahush @Janbreck @UNSW_GV...  katrinaellen_zm

In [11]:
UNSWDF.shape

(100, 2)

In [13]:
USYDDF.head()

                                               tweet         username
0  USYD will also conduct a variety of dating act...       usyd_oweek
1  @aptly_engineerd "The idea of bringing the eve...       JusDucky27
2  The University of Sydney's Westmead Applied Re...        AIHealth1
3  "The University of Sydney is perhaps Australia...          TDugdak
4  Martin Raffaele in using a combination of the ...  MartinRaffaele4

In [14]:
USYDDF.shape

(100, 2)

In [15]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [16]:
import re
def remove_punct(text):
    text = ''.join(''.join(s)[:2] for _, s in itertools.groupby(text))
    text = emoji.demojize(text)
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    text = re.sub("(\w+:\/\/\S+)", " ", text)
    text = re.sub("[\.\,\!\?\:\;\-\=]", " ", text)
    return text


MQDF['Clean Tweets'] = MQDF['tweet'].apply(lambda x: remove_punct(x))
UNSWDF['Clean Tweets'] = UNSWDF['tweet'].apply(lambda x: remove_punct(x))
USYDDF['Clean Tweets'] = USYDDF['tweet'].apply(lambda x: remove_punct(x))

In [17]:
MQDF.head()

,tweet,username,Clean Tweets
0,Please sign and share this important petition:...,roblespar,Please sign and share this important petition ...
1,Very concerning reports about the removal of ...,copyculture,Very concerning reports about the removal of ...
2,How prepared are paramedics to deal with clima...,RuthTownsendlaw,How prepared are paramedics to deal with clima...
3,"@ChrisJ999 paramedic building, Charles Sturt U...",RuthTownsendlaw,ChrisJ paramedic building Charles Sturt Univer...
4,Macquarie University announces scholarships wo...,indiaedudiary,Macquarie University announces scholarships wo...

In [18]:
UNSWDF.head()

,tweet,username,Clean Tweets
0,“Make friends of all ages. When you have frien...,UNSW,“Make friends of all ages When you have friend...
1,"“In Australia, 30% of employers admit they’re ...",UNSW,“In Australia of employers admit they’re relu...
2,"""Older is not lesser - the value of a human be...",BetterSydney,Older is not lesser the value of a human bein...
3,“Age is a criterion for diversity.”\n\nAshton ...,UNSW,“Age is a criterion for diversity”\n\nAshton A...
4,@chappell_louise @_annahush @Janbreck @UNSW_GV...,katrinaellen_zm,chappelllouise annahush Janbreck UNSWGVRN Than...

In [19]:
USYDDF.head()

,tweet,username,Clean Tweets
0,USYD will also conduct a variety of dating act...,usyd_oweek,USYD will also conduct a variety of dating act...
1,"@aptly_engineerd ""The idea of bringing the eve...",JusDucky27,aptlyengineerd The idea of bringing the evergr...
2,The University of Sydney's Westmead Applied Re...,AIHealth1,The University of Sydneys Westmead Applied Res...
3,"""The University of Sydney is perhaps Australia...",TDugdak,The University of Sydney is perhaps Australia’...
4,Martin Raffaele in using a combination of the ...,MartinRaffaele4,Martin Raffaele in using a combination of the ...

In [20]:
#MQDF.to_csv(r'C:\Users\Paul\App-Data\MQ_raw.csv')
#UNSWDF.to_csv(r'C:\Users\Paul\App-Data\UNSW_raw.csv')
#USYDDF.to_csv(r'C:\Users\Paul\App-Data\USYD_raw.csv')