In [1]:
import pandas as pd

In [2]:
MQ = pd.read_csv("MQ_LA.csv")
UNSW = pd.read_csv("UNSW_LA.csv")
USYD = pd.read_csv("USYD_LA.csv")

In [3]:
MQ.head()

   Unnamed: 0                                              Label
0           0  __label__POSITIVE Please sign and share this i...
1           1  __label__POSITIVE Very concerning reports abou...
2           2  __label__NEUTRAL How prepared are paramedics t...
3           3  __label__NEUTRAL ChrisJ paramedic building Cha...
4           4  __label__POSITIVE Macquarie University announc...

In [4]:
UNSW.head()

   Unnamed: 0                                              Label
0           0  __label__NEGATIVE “Make friends of all ages Wh...
1           1  __label__NEUTRAL “In Australia  of employers a...
2           2  __label__POSITIVE Older is not lesser  the val...
3           3  __label__NEGATIVE “Age is a criterion for dive...
4           4  __label__NEUTRAL chappelllouise annahush Janbr...

In [5]:
USYD.head()

   Unnamed: 0                                              Label
0           0  __label__NEUTRAL USYD will also conduct a vari...
1           1  __label__POSITIVE aptlyengineerd The idea of b...
2           2  __label__NEUTRAL The University of Sydneys Wes...
3           3  __label__POSITIVE The University of Sydney is ...
4           4  __label__NEUTRAL Martin Raffaele in using a co...

In [6]:
MQ_LA = pd.DataFrame(data = MQ, columns=['Label'])
MQ_LA.head()

                                               Label
0  __label__POSITIVE Please sign and share this i...
1  __label__POSITIVE Very concerning reports abou...
2  __label__NEUTRAL How prepared are paramedics t...
3  __label__NEUTRAL ChrisJ paramedic building Cha...
4  __label__POSITIVE Macquarie University announc...

In [7]:
UNSW_LA = pd.DataFrame(data = UNSW, columns=['Label'])
UNSW_LA.head()

                                               Label
0  __label__NEGATIVE “Make friends of all ages Wh...
1  __label__NEUTRAL “In Australia  of employers a...
2  __label__POSITIVE Older is not lesser  the val...
3  __label__NEGATIVE “Age is a criterion for dive...
4  __label__NEUTRAL chappelllouise annahush Janbr...

In [8]:
USYD_LA = pd.DataFrame(data = USYD, columns=['Label'])
USYD_LA.head()

                                               Label
0  __label__NEUTRAL USYD will also conduct a vari...
1  __label__POSITIVE aptlyengineerd The idea of b...
2  __label__NEUTRAL The University of Sydneys Wes...
3  __label__POSITIVE The University of Sydney is ...
4  __label__NEUTRAL Martin Raffaele in using a co...

In [19]:
frames = [MQ_LA, UNSW_LA, USYD_LA]

result = pd.concat(frames)

In [20]:
result.head()

                                               Label
0  __label__POSITIVE Please sign and share this i...
1  __label__POSITIVE Very concerning reports abou...
2  __label__NEUTRAL How prepared are paramedics t...
3  __label__NEUTRAL ChrisJ paramedic building Cha...
4  __label__POSITIVE Macquarie University announc...

In [21]:
from sklearn.utils import shuffle
Mixed3 = shuffle(result)

In [22]:
Mixed3.head()

                                                Label
72  __label__NEGATIVE UNSW clementineford monaelta...
2   __label__NEUTRAL The University of Sydneys Wes...
22  __label__NEUTRAL In its last concert for  the ...
52  __label__NEUTRAL MQU Open Day   httpstcoNzXCRW...
84  __label__POSITIVE The University of Sydney is ...

In [23]:
Mixed3.shape

(300, 1)

In [24]:
#Mixed3.to_csv(r'C:\Users\Paul\App-Data\3Umixed.csv')