In [1]:
import os
import tweepy as tw
import pandas as pd
import emoji
import itertools

In [2]:
#My key
consumer_key= 'pmobXDMHYCDe3ziI7jfrv9MiP'
consumer_secret='4CsLBydXMpjTtI0mdEeEdKG0giGUrPezAu202hdB7hJQ75LODt'
access_token= '1171284483049320448-X681DzubAI8E17GY13xeeNLvPMloJX' 
access_token_secret= 'h97bjtMWF2vRTbYjD7I1zEXWjpgkXMGSctKTACmCzaWQk'

In [3]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [4]:
MQ_tweets = tw.Cursor(api.search,q = "Macquarie University -filter:retweets", lang = "en").items(100)
UNSW_tweets = tw.Cursor(api.search,q = "UNSW -filter:retweets" or "", lang = "en").items(100)

In [5]:
MQ = [[x.text, x.user.screen_name] for x in MQ_tweets]
MQDF = pd.DataFrame(data=MQ, 
                    columns=["tweet", "username"])

UNSW = [[x.text, x.user.screen_name] for x in UNSW_tweets]
UNSWDF = pd.DataFrame(data=UNSW, 
                    columns=["tweet", "username"])

In [6]:
MQDF.head()

                                               tweet       username
0  Five days visiting Macquarie University: Catch...     timminglab
1  #NoJobCutsMQ #IstandwithMQstaff #TimetoTalkToU...         CateyR
2  'Macquarie university announced it would disso...      AmyThunig
3  Recently returned from a #cybersecurity startu...     AmlecHouse
4  IN THE NEWS | Veteran chief information office...  SynergyJobsAu

In [7]:
UNSWDF.head()

                                               tweet        username
0  @PremCricketNSW Rd 4 Day 1v @sutherlanddcc \n1...    UNSW_Cricket
1  Interested in phylogenetics @Sydney_Uni @UNSW ...   AusBiocommons
2  “I think that it’s important to encourage Indi...        UNSWPVCI
3  Applications close 11pm, this Wednesday 6 Nove...  KirbyInstitute
4  Meet the Professors seminar today at 3.30pm!\n...        unswbees

In [8]:
#https://www.kaggle.com/ragnisah/text-data-cleaning-tweets-analysis
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
import re
def remove_punct(text):
    text = ''.join(''.join(s)[:2] for _, s in itertools.groupby(text))
    text = emoji.demojize(text)
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    text = re.sub("(\w+:\/\/\S+)", " ", text)
    text = re.sub("[\.\,\!\?\:\;\-\=]", " ", text)
    return text

MQDF['Clean Tweets'] = MQDF['tweet'].apply(lambda x: remove_punct(x))
UNSWDF['Clean Tweets'] = UNSWDF['tweet'].apply(lambda x: remove_punct(x))

In [10]:
MQDF.head()

,tweet,username,Clean Tweets
0,Five days visiting Macquarie University: Catch...,timminglab,Five days visiting Macquarie University Catch ...
1,#NoJobCutsMQ #IstandwithMQstaff #TimetoTalkToU...,CateyR,NoJobCutsMQ IstandwithMQstaff TimetoTalkToUsMQ...
2,'Macquarie university announced it would disso...,AmyThunig,Macquarie university announced it would dissol...
3,Recently returned from a #cybersecurity startu...,AmlecHouse,Recently returned from a cybersecurity startup...
4,IN THE NEWS | Veteran chief information office...,SynergyJobsAu,IN THE NEWS Veteran chief information officer...

In [11]:
UNSWDF.head()

,tweet,username,Clean Tweets
0,@PremCricketNSW Rd 4 Day 1v @sutherlanddcc \n1...,UNSW_Cricket,PremCricketNSW Rd Day v sutherlanddcc \nsts h...
1,Interested in phylogenetics @Sydney_Uni @UNSW ...,AusBiocommons,Interested in phylogenetics SydneyUni UNSW USy...
2,“I think that it’s important to encourage Indi...,UNSWPVCI,“I think that it’s important to encourage Indi...
3,"Applications close 11pm, this Wednesday 6 Nove...",KirbyInstitute,Applications close pm this Wednesday November...
4,Meet the Professors seminar today at 3.30pm!\n...,unswbees,Meet the Professors seminar today at pm\n\nUNS...

In [12]:
MQDF.to_csv(r'C:\Users\kyleg\Documents\App-Data\MQ.csv')

In [13]:
UNSWDF.to_csv(r'C:\Users\kyleg\Documents\App-Data\UNSW.csv')